In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [12]:
lista_dicionario = [
    {'country': 'US', 2006: 0.41, 2011: 0.34, 2016: 0.31}, 
    {'country': 'Europe', 2006: 0.26, 2011: 0.24, 2016: 0.18}, 
    {'country': 'Japan', 2006: 0.1, 2011: 0.12, 2016: 0.1}, 
    {'country': 'Emerging Markets', 2006: 0.14, 2011: 0.2, 2016: 0.3},
    {'country': 'Rest of the world', 2006: 0.09, 2011: 0.1, 2016: 0.11}
]

In [13]:
lista_dicionario

[{'country': 'US', 2006: 0.41, 2011: 0.34, 2016: 0.31},
 {'country': 'Europe', 2006: 0.26, 2011: 0.24, 2016: 0.18},
 {'country': 'Japan', 2006: 0.1, 2011: 0.12, 2016: 0.1},
 {'country': 'Emerging Markets', 2006: 0.14, 2011: 0.2, 2016: 0.3},
 {'country': 'Rest of the world', 2006: 0.09, 2011: 0.1, 2016: 0.11}]

In [14]:
dataframe = pd.DataFrame(lista_dicionario)

In [15]:
dataframe

             country  2006  2011  2016
0                 US  0.41  0.34  0.31
1             Europe  0.26  0.24  0.18
2              Japan  0.10  0.12  0.10
3   Emerging Markets  0.14  0.20  0.30
4  Rest of the world  0.09  0.10  0.11

In [16]:
dataframe = dataframe.set_index('country')

In [17]:
dataframe

                   2006  2011  2016
country
US                 0.41  0.34  0.31
Europe             0.26  0.24  0.18
Japan              0.10  0.12  0.10
Emerging Markets   0.14  0.20  0.30
Rest of the world  0.09  0.10  0.11